/* You can add global styles to this file, and also import other style files */

/*@import '~ngx-toastr/toastr.css';*/
body {background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
.title{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cancel-button {
    background-color: red; /* Change the background color to your desired color */
    color: white; /* Change the text color to contrast with the background */
    /* Add any other styles you want for the "Cancel" button */
  }

